Este notebook te valdra como referencia de como automatizar un informe para  que aune los datos de Google analitics ,Google dv360 ,Google ads , Facebook ads y imprimierloS en un excel.

#Instrucciones

In [ ]:
#360 en excel 
#mismos idiomas siempre 
#nombre archivos facebook.csv  dv360 , ads_dis, ads_sem , g_analytics

#Instalaciones

In [ ]:
from pandas import DataFrame
import numpy as np
import seaborn as sns
import pandas as pd
import re
from numpy.ma.core import shape
from sklearn.preprocessing import StandardScaler ,scale
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt 
import matplotlib.pyplot as plt
import numpy as np
import openpyxl 
from openpyxl.chart import BarChart,Reference 
from openpyxl import load_workbook

pd.options.display.max_columns = 40
pd.options.display.max_rows = 40

#Google analitics

In [ ]:
df_google_analitics = pd.read_csv("/content/g_analytics.csv",encoding='utf-8', sep='delimiter', header=None)

df_google_analitics = df_google_analitics.drop(labels=[0,1,2,3,4,5,6], axis=0)

df_google_analitics=df_google_analitics.rename(columns={0:"p"})
#dividimos columnas
split_data_analitics = df_google_analitics["p"].str.split(",")
data_analitics = split_data_analitics.to_list()
names_analitics = ["Fecha","Canales","Campanha","Fuente","Medio","Sesiones_google_anali_m"]
df_google_analitics = pd.DataFrame(data_analitics, columns=names_analitics)

df_google_analitics = df_google_analitics.assign(Sesiones_google_anali = lambda dataset : dataset.Sesiones_google_anali_m.str.replace(".",""))
df_google_analitics=df_google_analitics.drop(columns=["Sesiones_google_anali_m"])

#casteamos 
df_google_analitics['Sesiones_google_anali'] = df_google_analitics['Sesiones_google_anali'].astype(int)

#funcion poner guiones en fecha 
def fecha_guion(fechaaaa):
  anho=fechaaaa[:4]
  lo_otro=fechaaaa[4:]
  salida =anho+"-"+lo_otro
  return salida
df_google_analitics=df_google_analitics.assign(F = lambda dataset: dataset.Fecha.apply( lambda linea : fecha_guion(linea)))

#funcion 2 poner guiones en fecha 
def fecha_guion_2(fechaaaa):
  dia=fechaaaa[-2:]
  lo_otro=fechaaaa[:7]
  salida =lo_otro+"-"+dia
  return salida
df_google_analitics=df_google_analitics.assign(Day = lambda dataset: dataset.F.apply( lambda linea : fecha_guion_2(linea)))

#separamos por canal
print("df_google_analitics_sin_filtro",df_google_analitics.shape)
print("suma_df_google_analitics_sin_filtro",df_google_analitics["Sesiones_google_anali"].sum())

##############################################Facebook_trafico

df_google_analitics_facebook_traffic=df_google_analitics[df_google_analitics['Canales'] =="Paid Social"]
df_google_analitics_facebook_traffic=df_google_analitics_facebook_traffic[df_google_analitics_facebook_traffic['Campanha'] =="DietsSpain-0122"]
df_google_analitics_facebook_traffic=df_google_analitics_facebook_traffic.groupby(by=["Day"]).sum()

print("Facebook_trafico_filtro",df_google_analitics_facebook_traffic.shape)
#video = OLV, social=fb traffic, filtrando por nombre de campaña

#########################################################Dv360

df_google_analitics_dv_360=df_google_analitics[ df_google_analitics['Canales'] =="Video"]
df_google_analitics_dv_360=df_google_analitics_dv_360[df_google_analitics_dv_360['Campanha'] =="dietsspain-0122"]
df_google_analitics_dv_360=df_google_analitics_dv_360.groupby(by=["Day"]).sum()

print("Dv360",df_google_analitics_dv_360.shape)
#video = OLV, social=fb traffic, filtrando por nombre de campaña

##########################################################Google ads sem

df_google_analitics_sem=df_google_analitics[df_google_analitics['Canales'] =="Paid Search"]
df_google_analitics_sem=df_google_analitics_sem.groupby(by=["Day"]).sum()

print("Google ads sem",df_google_analitics_sem.shape)
#paid search = SEM, se cogen todas las lineas sin filtrar

########################################################Google ads display

df_google_analitics_display=df_google_analitics[df_google_analitics['Canales'] =="Display"]
df_google_analitics_display=df_google_analitics_display.groupby(by=["Day"]).sum()

print("Google ads display",df_google_analitics_display.shape)
#Display=GDN, se cogen todas las lineas sin filtra
print(df_google_analitics["Campanha"].unique())

df_google_analitics_sin_filtro (4839, 8)
suma_df_google_analitics_sin_filtro 505041
Facebook_trafico_filtro (176, 1)
Dv360 (127, 1)
Google ads sem (180, 1)
Google ads display (152, 1)
['(not set)'
 'ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO_CON_Display_PRO_Keywords_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_PRO_URLS_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_Dog_All_All_SEA_GAds_AO_AWA_Web_Generic_Content-Dog_Y'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_RTG_All_Auct_CPC_GDN_Y'
 'DietsSpain-0122'
 'ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO_CON_Display_RTG_All_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_Cat_All_All_SEA_GAds_AO_AWA_Web_Generic_Content-Cat_Y'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_PRO_Keywords_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO_CON_Display_PRO_URLS_Auct_CPC_GDN_Y'
 'SN-AlwaysOn-0222' 'SMADVES-0322'
 'ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO_CON_Display_RTG_GA-AdvancedWebData-Cat-GenericaDietasGDN_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_All_All_All_SEA_GAds_AO_AWA_Web_Generic_Content_P&K_Y'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_RTG_GA-AdvancedWebData-Dog-GenericaDietasGDN_Auct_CPC_GDN_Y'
 'Smactives-0522' 'dietsspain-0122' 'Smactives-0622'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_PRO_Keywords_Auct_CPC_Discovery_Y'
 'ESP_SPE_ADV_Dog_Dry_All_Gastroenteric_AdvanceDietas-0622_AO_CONV_Display_PRO_KW+URLS_Auct_CPC_GDN_Y'
 'Dietas-0222'
 'ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO_CON_Display_RTG_All_Auct_CPA_Discovery_Y'
 'ESP_SPE_ADV_Dog_All_All_SEA_GAds_AO_AWA_Web_Brand__Y'
 'ESP_SPE_ADV_All_All_All_SEA_GAds_AO_AWA_Web_Generic_Content-Welcome_Y'
 'Smactives-0422' 'ESP_SPE_ADV_Cat_All_All_SEA_GAds_AO_AWA_Web_Brand__Y'
 'ESP_SPE_ADV_Cat_Dry_All_Gastroenteric_AdvanceDietas-0622_AO_CONV_Display_RTG_1stParty_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_Dog_Dry_All_Gastroenteric_AdvanceDietas-0622_AO_CONV_Display_RTG_1stParty_Auct_CPC_GDN_Y'
 'SEA_GAds_ADV_All_All_All_All_All_Spain_CPC_Brand_All_Both-Affinity_Y'
 'Puppieskittens-0522'
 'ESP_SPE_ADV_Cat_Dry_All_Gastroenteric_AdvanceDietas-0622_AO_CONV_Display_PRO_KW+URLS_Auct_CPC_GDN_Y'
 'ESP_SPE_ADV_All_All_All_SEA_GAds_AO_AWA_Web_Generic_Active-Defense_Y'
 'ES_Email_ADV_Cat_All_AWA_OT_Marketing_Cloud_segment_GastroGato-0522_Massive1__Y'
 'AFF-IT - newsletter'
 'ESP_SPE_ADV_All_All_All_SEA_GAds_AO_AWA_Web_Generic_Guia_P&K_Y'
 'ES_Email_ADV_Dog_Mini_LOYAL_OT_Marketing_Cloud_segment_JourneyPK-xx22_Massive13R__Y'
 'AdvanceDietas-0421'
 'ESP_Email_All_All_CON_OT_Marketing_Cloud_segment_advance_te_da_mas_7_Winner_Y'
 'adv_dog_diets_none_alwayson_prospecting_skippable_2019-11-14_2019-12-29_vid_awa'
 'advancedietas-0421'
 'affinity_spe-es_adv_dog_atopic_none_alwayson_fase-retargeting-youtube_2020-04-01_2020-12-31_vid_con'
 'adv_cat_diets_none_alwayson_prospecting_skippable_2019-11-14_2019-12-29_vid_awa'
 'affinity_spe-es_adv_cat_weight-balance_none_alwayson_fase-prospecting_2020-04-01_2020-12-31_vid_con'
 'affinity_spe-es_adv_both_noproduct_none_alwayson_dietas-alwayson_2021-03-01_2021-12-31_dis_awa'
 'affinity_spe-es_adv_dog_weight-balance_none_alwayson_fase-retargeting_2020-04-01_2020-12-31_vid_con'
 'GastroForte-1021'
 'affinity_spe-es_adv_dog_articular_none_alwayson_fase-prospecting_2020-09-01_2020-12-31_vid_con'
 'affinity_spe-es_adv_dog_articular_none_alwayson_fase-retargeting_2020-09-01_2020-12-31_vid_con'
 'Gastro' 'AFF-IT - Webinars traducidos' 'Advanceactivedefense-0520'
 'ES_Email_ADV_Dog_All_AWA_OT_Marketing_Cloud_segment_GastroPerro-0522_Massive1__Y'
 'ES_Email_ADV_Dog_All_AWA_OT_Marketing_Cloud_segment_advFBLeadAds-0622_Thank_you__Y'
 'ES_Email_ADV_Dog_All_LOYAL_OT_Marketing_Cloud_segment_JourneyPK-xx22_Massive5__Y'
 'ES_Email_ADV_Cat_All_LOYAL_OT_Marketing_Cloud_segment_JourneyPK-xx22_Massive1__Y'
 'ES_Email_ADV_All_All_AWA_OT_Marketing_Cloud_segment_advacquisition-xx22_Massive1__Y']

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if sys.path[0] == '':

#Facebook_video

In [ ]:
#abrimos los excel  (facebook)

df_facebook_video=pd.read_csv("/content/facebook.csv", ",")
df_facebook_video.head(1)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Campaign name,Ad set name,Ad name,Day,Objective,Result Type,Results,Reach,Impressions,Amount spent (EUR),Frequency,Link clicks,Video plays at 100%,Reporting starts,Reporting ends
0,44509_Affinity | Advance_Dietas 2022_Trafico_D...,44509_FB-IG_Affinity | Advance_Dietas Junio 20...,xxx_FB-IG_Affinity | Advance_Dietas 2022_trafi...,2022-06-30,LINK_CLICKS,Landing page views,3.0,1251,1407,6.48,1.1247,23.0,84.0,2022-06-30,2022-06-30

In [ ]:
df_facebook_video=df_facebook_video.rename(columns={"Campaign name":"Campaign_name","Ad set name":"Ad_set_name","Ad name":"Ad_name","Result Type":"Result_Type","Amount spent (EUR)":"Amount_spent_EUR","Link clicks":"Link_clicks","Video plays at 100%":"Video_plays_at_100","Reporting starts":"Reporting_starts","Reporting ends":"Reporting_ends"})

df_facebook_video[["Campanha_nombre_parte_1","Campanha_nombre_parte_2","Campanha_nombre_parte_3"]]=df_facebook_video['Campaign_name'].str.split('|', expand=True)
#views=Video_plays_at_100 en facefoob esto es views

df_facebook_video=df_facebook_video.rename(columns={"Link_clicks": "Clics", "Amount_spent_EUR":"Coste","Video_plays_at_100": "views"})
#casteamos 

df_facebook_video['Impressions'] = df_facebook_video['Impressions'].astype(int)

df_facebook_video['Coste'] = df_facebook_video['Coste'].astype(float)
"""
#nulos por 0

df_facebook_video['Video_plays_at_100'].replace('', 0, inplace=True)
df_facebook_video['Video_plays_at_100'] = df_facebook_video['Video_plays_at_100'].fillna(0)

df_facebook_video['Video_plays_at_100'] = df_facebook_video['Video_plays_at_100'].astype(int)

#nulos por 0

df_facebook_video['Clics'].replace('', 0, inplace=True)
df_facebook_video['Clics'] = df_facebook_video['Clics'].fillna(0)

df_facebook_video['Clics'] = df_facebook_video['Clics'].astype(int)
"""

#como no nos interesa  Reach  Frequency los quitamos	
df_facebook_video=df_facebook_video.drop(columns=["Results","Reach","Frequency","Campaign_name","Ad_set_name","Ad_name","Reporting_starts","Reporting_ends","Result_Type"])
df_facebook_video

,Day,Objective,Impressions,Coste,Clics,views,Campanha_nombre_parte_1,Campanha_nombre_parte_2,Campanha_nombre_parte_3
0,2022-06-30,LINK_CLICKS,1407,6.48,23.0,84.0,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Junio CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
1,2022-06-30,LINK_CLICKS,567,4.77,24.0,41.0,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Junio CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
2,2022-06-30,LINK_CLICKS,16060,26.07,132.0,NaN,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Junio CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
3,2022-06-30,LINK_CLICKS,2463,6.25,18.0,122.0,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Junio CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
4,2022-06-30,LINK_CLICKS,15538,35.02,52.0,NaN,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Junio CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
...,...,...,...,...,...,...,...,...,...
3149,2022-01-01,VIDEO_VIEWS,14348,22.39,7.0,1395.0,44509_Affinity,Advance_Dietas 2022_Views_Dietas Enero CAT ge...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
3150,2022-01-01,VIDEO_VIEWS,8237,9.26,6.0,459.0,44509_Affinity,Advance_Dietas 2022_Views_Dietas Enero DOG ge...,ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO...
3151,2022-01-01,LINK_CLICKS,3401,17.24,144.0,223.0,44509_Affinity,Advance_Dietas 2022_Trafico_Dietas Enero CAT ...,ESP_SPE_ADV_Cat_Dry_All_All_DietsSpain-0122_AO...
3152,2022-01-01,LINK_CLICKS,3385,16.92,121.0,177.0,44509_Affinity,Advance_Dietas 2022_trafico_Dietas Enero DOG ...,ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO...
3153,2022-01-01,LINK_CLICKS,1408,7.86,19.0,87.0,44509_Affinity,Advance_Dietas 2022_trafico_Dietas Enero DOG ...,ESP_SPE_ADV_Dog_Dry_All_All_DietsSpain-0122_AO...

In [ ]:
#fecha mes solo
df_facebook_video=df_facebook_video.rename(columns={"Day":"Day_m"})
df_facebook_video=df_facebook_video.assign(Day = lambda dataset: dataset.Day_m.map(lambda value : (value[:-3])))
df_facebook_video=df_facebook_video.drop(columns =["Day_m"])

#quitar impresion menor a 1 
df_facebook_video=df_facebook_video[df_facebook_video['Impressions'] > 0]

df_facebook_video=df_facebook_video.drop(columns=["Campanha_nombre_parte_1","Campanha_nombre_parte_2","Campanha_nombre_parte_3"])
#query
df_facebook_video=df_facebook_video[df_facebook_video['Objective'] =="VIDEO_VIEWS"]
df_facebook_video.head(2)

       Objective  Impressions  Coste  Clics   views      Day
410  VIDEO_VIEWS         7119  19.78   41.0  3620.0  2022-06
419  VIDEO_VIEWS        10142   9.76    2.0   817.0  2022-06

In [ ]:
#agrupamos por dia
df_facebook_video=df_facebook_video.groupby(by=["Day"]).sum()

#creamos cpc
cpc_list_f_v=[]
for cost_f_v, cli_f_v in zip(df_facebook_video['Coste'], df_facebook_video['Clics']):
  if cli_f_v==0:
    cost_f_v=0
    cli_f_v=1
  resul_f_v=cost_f_v / cli_f_v 
  cpc_list_f_v.append(resul_f_v)
df_facebook_video['CPC']=cpc_list_f_v

#creamos ctr
ctr_list_f_v=[]
for impr_ctr_f_v, cli_ctr_f_v in zip(df_facebook_video['Impressions'], df_facebook_video['Clics']):
  if impr_ctr_f_v==0:
    impr_ctr_f_v=1
    cli_ctr_f_v=0
  resul_ctr_f_v= cli_ctr_f_v /impr_ctr_f_v 
  ctr_list_f_v.append(resul_ctr_f_v)
df_facebook_video['CTR']=ctr_list_f_v

#creamos VTR
vtr_list_f_v=[]
for vie_v, imp_v in zip(df_facebook_video['views'], df_facebook_video['Impressions']):
  if imp_v==0:
    vie_v=0
    imp_v=1
  resul_vtr_v=vie_v / imp_v 
  vtr_list_f_v.append(resul_vtr_v)
df_facebook_video['VTR']=vtr_list_f_v

#creamos CPV
cpv_list_f_v=[]
for costecito_v, vista_v in zip(df_facebook_video['Coste'], df_facebook_video['views']):
  if vista_v==0:
    costecito_v=0
    vista_v=1
  resul_cpv_v=costecito_v / vista_v 
  cpv_list_f_v.append(resul_cpv_v)
df_facebook_video['CPV']=cpv_list_f_v


# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  

df_facebook_video.head()

,Impressions,Coste,Clics,views,CPC,CTR,VTR,CPV
Day,,,,,,,,
2022-01,3543902,5752.00,15504.0,1194633.0,0.371001,0.004375,0.337095,0.004815
2022-02,4561062,7372.16,19101.0,1407299.0,0.385957,0.004188,0.308546,0.005239
2022-03,5853181,6969.86,12478.0,1120176.0,0.558572,0.002132,0.191379,0.006222
2022-04,4699956,5380.32,9817.0,847017.0,0.548062,0.002089,0.180218,0.006352
2022-05,5934917,6082.47,9039.0,803125.0,0.672914,0.001523,0.135322,0.007574

In [ ]:
"""
Inversion prevista
Inversion real
Variance
clics
CPC =Presupuesto total / Número de clics = CPC
sesiones = nopooo 
% clics a sesion =sesiones/clics
clics ÷ impresiones = CTR
CPVisit
reach =forma de medir el éxito de una campaña publicitaria, además de conocer el impacto que esta produce en el público.
VTR = (Total de vistas completas / número de impresiones) x 100
# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  
#quitar Reach  Frequency	
"""

'\nInversion prevista\nInversion real\nVariance\nclics\nCPC =Presupuesto total / Número de clics = CPC\nsesiones = nopooo \n% clics a sesion =sesiones/clics\nclics ÷ impresiones = CTR\nCPVisit\nreach =forma de medir el éxito de una campaña publicitaria, además de conocer el impacto que esta produce en el público.\nVTR = (Total de vistas completas / número de impresiones) x 100\n# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  \n#quitar Reach  Frequency\t\n'

In [ ]:
pivotTable_face_video = pd.pivot_table(df_facebook_video, columns= "Day",aggfunc= 'sum')
first_column_facebook_video=["Facebook_video","Facebook_video","Facebook_video","Facebook_video","Facebook_video","Facebook_video","Facebook_video","Facebook_video"]
pivotTable_face_video.insert(0, 'Plataforma', first_column_facebook_video)
pivotTable_face_video=np.round(pivotTable_face_video, decimals=3)
pivotTable_face_video = pd.DataFrame(pivotTable_face_video, index=["Coste","Impressions","Clics","CTR","CPC","views","VTR","CPV"])
pivotTable_face_video

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Facebook_video,5752.000,7372.160,6969.860,5380.320,6082.470,1154.250
Impressions,Facebook_video,3543902.000,4561062.000,5853181.000,4699956.000,5934917.000,1308786.000
Clics,Facebook_video,15504.000,19101.000,12478.000,9817.000,9039.000,1731.000
CTR,Facebook_video,0.004,0.004,0.002,0.002,0.002,0.001
CPC,Facebook_video,0.371,0.386,0.559,0.548,0.673,0.667
views,Facebook_video,1194633.000,1407299.000,1120176.000,847017.000,803125.000,145932.000
VTR,Facebook_video,0.337,0.309,0.191,0.180,0.135,0.112
CPV,Facebook_video,0.005,0.005,0.006,0.006,0.008,0.008

In [ ]:
# en facebook columns Campaign_name si video view es video si no trafico trafic

#Facebook_trafico

In [ ]:
#abrimos los excel  (facebook)

df_facebook=pd.read_csv("/content/facebook.csv", ",")

df_facebook=df_facebook.rename(columns={"Campaign name":"Campaign_name","Ad set name":"Ad_set_name","Ad name":"Ad_name","Result Type":"Result_Type","Amount spent (EUR)":"Amount_spent_EUR","Link clicks":"Link_clicks","Video plays at 100%":"Video_plays_at_100","Reporting starts":"Reporting_starts","Reporting ends":"Reporting_ends"})

df_facebook[["Campanha_nombre_parte_1","Campanha_nombre_parte_2","Campanha_nombre_parte_3"]]=df_facebook['Campaign_name'].str.split('|', expand=True)

#casteamos y quitar impresion menor a 1 

df_facebook=df_facebook.rename(columns={"Link_clicks": "Clics", "Amount_spent_EUR":"Coste","Video_plays_at_100": "views"})

df_facebook['Impressions'] = df_facebook['Impressions'].astype(int)

df_facebook=df_facebook[df_facebook['Impressions'] > 0]

#DROP

df_facebook=df_facebook.drop(columns=["Reach","Results","Frequency","Campaign_name","Ad_set_name","Ad_name","Reporting_starts","Reporting_ends","Result_Type","Campanha_nombre_parte_1","Campanha_nombre_parte_2","Campanha_nombre_parte_3"])

#cojemos solo traffic 
df_facebook=df_facebook[df_facebook['Objective'] =="LINK_CLICKS"]

df_facebook

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

             Day    Objective  Impressions  Coste  Clics   views
0     2022-06-30  LINK_CLICKS         1407   6.48   23.0    84.0
1     2022-06-30  LINK_CLICKS          567   4.77   24.0    41.0
2     2022-06-30  LINK_CLICKS        16060  26.07  132.0     NaN
3     2022-06-30  LINK_CLICKS         2463   6.25   18.0   122.0
4     2022-06-30  LINK_CLICKS        15538  35.02   52.0     NaN
...          ...          ...          ...    ...    ...     ...
3145  2022-01-01  LINK_CLICKS        10135  16.10   90.0  1007.0
3147  2022-01-01  LINK_CLICKS         6599  17.26  120.0   582.0
3151  2022-01-01  LINK_CLICKS         3401  17.24  144.0   223.0
3152  2022-01-01  LINK_CLICKS         3385  16.92  121.0   177.0
3153  2022-01-01  LINK_CLICKS         1408   7.86   19.0    87.0

[1941 rows x 6 columns]

In [ ]:
#agrupamos

df_facebook=df_facebook.groupby(by=["Day"]).sum()
df_facebook

            Impressions   Coste   Clics   views
Day
2022-01-01        36499  127.01   736.0  2809.0
2022-01-02        45229  132.50   925.0  3215.0
2022-01-03        40316  132.10   945.0  2609.0
2022-01-04        37905  132.38   951.0  2662.0
2022-01-05        52965  133.30   921.0  2874.0
...                 ...     ...     ...     ...
2022-06-26       234819  553.84  1751.0  2879.0
2022-06-27       226014  500.99  1509.0  2852.0
2022-06-28       127450  497.16   878.0  2585.0
2022-06-29       174028  479.23  1050.0  2240.0
2022-06-30       212956  451.68  1192.0  2173.0

[175 rows x 4 columns]

In [ ]:



#hacemos el join de sesiones 
df_facebook=pd.merge(df_facebook,df_google_analitics_facebook_traffic,on='Day', how="left")

df_facebook

            Impressions   Coste   Clics   views  Sesiones_google_anali
Day
2022-01-01        36499  127.01   736.0  2809.0                    467
2022-01-02        45229  132.50   925.0  3215.0                    609
2022-01-03        40316  132.10   945.0  2609.0                    547
2022-01-04        37905  132.38   951.0  2662.0                    497
2022-01-05        52965  133.30   921.0  2874.0                    435
...                 ...     ...     ...     ...                    ...
2022-06-26       234819  553.84  1751.0  2879.0                    770
2022-06-27       226014  500.99  1509.0  2852.0                    626
2022-06-28       127450  497.16   878.0  2585.0                    327
2022-06-29       174028  479.23  1050.0  2240.0                    503
2022-06-30       212956  451.68  1192.0  2173.0                    464

[175 rows x 5 columns]

In [ ]:
df_facebook.reset_index().to_csv('Day_join_face_tra_grouped.csv')

df_facebook=pd.read_csv("/content/Day_join_face_tra_grouped.csv", ",")
df_facebook=df_facebook.drop(columns=["Unnamed: 0"])

#para agrupar por mes
df_facebook=df_facebook.rename(columns={"Day":"Day_mes"})
df_facebook=df_facebook.assign(Day = lambda dataset: dataset.Day_mes.map(lambda value : (value[:-3])))
df_facebook=df_facebook.drop(columns=["Day_mes"])
df_facebook
#comprobamois que da un mes de costes 
hhh=   df_facebook[df_facebook['Day'] =="2022-01"]

print("1",hhh["Coste"].sum())
hhh=   df_facebook[df_facebook['Day'] =="2022-02"]

print("2",hhh["Coste"].sum())
hhh=   df_facebook[df_facebook['Day'] =="2022-03"]

print("3",hhh["Coste"].sum())

hhh=   df_facebook[df_facebook['Day'] =="2022-04"]

print("4",hhh["Coste"].sum())


hhh=   df_facebook[df_facebook['Day'] =="2022-05"]

print("5",hhh["Coste"].sum())


df_facebook

1 3229.0
2 5515.65
3 3973.7999999999993
4 3748.38
5 5076.98

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

     Impressions   Coste   Clics   views  Sesiones_google_anali      Day
0          36499  127.01   736.0  2809.0                    467  2022-01
1          45229  132.50   925.0  3215.0                    609  2022-01
2          40316  132.10   945.0  2609.0                    547  2022-01
3          37905  132.38   951.0  2662.0                    497  2022-01
4          52965  133.30   921.0  2874.0                    435  2022-01
..           ...     ...     ...     ...                    ...      ...
170       234819  553.84  1751.0  2879.0                    770  2022-06
171       226014  500.99  1509.0  2852.0                    626  2022-06
172       127450  497.16   878.0  2585.0                    327  2022-06
173       174028  479.23  1050.0  2240.0                    503  2022-06
174       212956  451.68  1192.0  2173.0                    464  2022-06

[175 rows x 6 columns]

In [ ]:
#agrupamos por dia
df_facebook=df_facebook.groupby(by=["Day"]).sum()

#creamos cpc
cpc_list_f=[]
for cost_f, cli_f in zip(df_facebook['Coste'], df_facebook['Clics']):
  if cli_f==0:
    cost_f=0
    cli_f=1
  resul_f=cost_f / cli_f 
  cpc_list_f.append(resul_f)
df_facebook['CPC']=cpc_list_f

#creamos ctr
ctr_list_f=[]
for impr_ctr_f, cli_ctr_f in zip(df_facebook['Impressions'], df_facebook['Clics']):
  if impr_ctr_f==0:
    impr_ctr_f=1
    cli_ctr_f=0
  resul_ctr_f= cli_ctr_f /impr_ctr_f 
  ctr_list_f.append(resul_ctr_f)
df_facebook['CTR']=ctr_list_f

#creamos VTR
vtr_list_f=[]
for vie, imp in zip(df_facebook['views'], df_facebook['Impressions']):
  if imp==0:
    vie=0
    imp=1
  resul_vtr=vie / imp 
  vtr_list_f.append(resul_vtr)
df_facebook['VTR']=vtr_list_f

#creamos CPV
cpv_list_f=[]
for costecito, vista in zip(df_facebook['Coste'], df_facebook['views']):
  if vista==0:
    costecito=0
    vista=1
  resul_cpv=costecito / vista 
  cpv_list_f.append(resul_cpv)
df_facebook['CPV']=cpv_list_f

# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  

#creamos clics_a_sesion
list_f=[]
for sesion_f, cli_f in zip(df_facebook['Sesiones_google_anali'], df_facebook['Clics']):
   if cli_f==0:
     cli_f=1
     sesion_f=0
   resul_f=sesion_f/cli_f
   list_f.append(resul_f)  
df_facebook['Clics_a_sesion']=list_f


#CPVisit
list_f_ccc=[]
for sesion_f_ccc, coste_f_ccc in zip(df_facebook['Sesiones_google_anali'], df_facebook['Coste']):
   if sesion_f_ccc==0:
     sesion_f_ccc=1
     coste_f_ccc=0
   resul_f_ccc=coste_f_ccc/sesion_f_ccc
   list_f_ccc.append(resul_f_ccc)  
df_facebook['Cpvisit']=list_f_ccc

df_facebook

,Impressions,Coste,Clics,views,Sesiones_google_anali,CPC,CTR,VTR,CPV,Clics_a_sesion,Cpvisit
Day,,,,,,,,,,,
2022-01,1377740,3229.00,22366.0,74222.0,12649,0.144371,0.016234,0.053872,0.043505,0.565546,0.255277
2022-02,1734956,5515.65,14356.0,103632.0,2103,0.384205,0.008275,0.059732,0.053223,0.146489,2.622753
2022-03,1449781,3973.80,12021.0,65968.0,1590,0.330571,0.008292,0.045502,0.060238,0.132269,2.499245
2022-04,1481087,3748.38,12242.0,70931.0,1414,0.306190,0.008266,0.047891,0.052845,0.115504,2.650905
2022-05,1410291,5076.98,12436.0,55769.0,891,0.408249,0.008818,0.039544,0.091036,0.071647,5.698070
2022-06,4217785,10009.69,34036.0,68683.0,13610,0.294091,0.008070,0.016284,0.145738,0.399871,0.735466

In [ ]:
"""
Inversion prevista
Inversion real
Variance
clics
CPC =Presupuesto total / Número de clics = CPC
sesiones = nopooo 
% clics a sesion =sesiones/clics
clics ÷ impresiones = CTR
CPVisit
reach =forma de medir el éxito de una campaña publicitaria, además de conocer el impacto que esta produce en el público.
VTR = (Total de vistas completas / número de impresiones) x 100
# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  
#quitar Reach  Frequency	
"""

'\nInversion prevista\nInversion real\nVariance\nclics\nCPC =Presupuesto total / Número de clics = CPC\nsesiones = nopooo \n% clics a sesion =sesiones/clics\nclics ÷ impresiones = CTR\nCPVisit\nreach =forma de medir el éxito de una campaña publicitaria, además de conocer el impacto que esta produce en el público.\nVTR = (Total de vistas completas / número de impresiones) x 100\n# orden: Coste  Impressions Clics ctr CPC views=Video_plays_at_100 vtr CPV  \n#quitar Reach  Frequency\t\n'

In [ ]:
pivotTable_face = pd.pivot_table(df_facebook, columns= "Day",aggfunc= 'sum')
pivotTable_face=pivotTable_face
first_column_facebook=["Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic","Facebook_Traffic"]
pivotTable_face.insert(0, 'Plataforma', first_column_facebook)
pivotTable_face=np.round(pivotTable_face, decimals=3)
pivotTable_face = pd.DataFrame(pivotTable_face, index=["Coste","Impressions","Clics","CTR","CPC","views","VTR","CPV","Sesiones_google_anali","Clics_a_sesion","Cpvisit"])
pivotTable_face

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Facebook_Traffic,3229.000,5515.650,3973.800,3748.380,5076.980,10009.690
Impressions,Facebook_Traffic,1377740.000,1734956.000,1449781.000,1481087.000,1410291.000,4217785.000
Clics,Facebook_Traffic,22366.000,14356.000,12021.000,12242.000,12436.000,34036.000
CTR,Facebook_Traffic,0.016,0.008,0.008,0.008,0.009,0.008
CPC,Facebook_Traffic,0.144,0.384,0.331,0.306,0.408,0.294
views,Facebook_Traffic,74222.000,103632.000,65968.000,70931.000,55769.000,68683.000
VTR,Facebook_Traffic,0.054,0.060,0.046,0.048,0.040,0.016
CPV,Facebook_Traffic,0.044,0.053,0.060,0.053,0.091,0.146
Sesiones_google_anali,Facebook_Traffic,12649.000,2103.000,1590.000,1414.000,891.000,13610.000
Clics_a_sesion,Facebook_Traffic,0.566,0.146,0.132,0.116,0.072,0.400
Cpvisit,Facebook_Traffic,0.255,2.623,2.499,2.651,5.698,0.735

#Dv360

In [ ]:
#abrimos los excel dietas dv360 

df_dv360=pd.read_csv("/content/dv360.csv")
df_dv360=df_dv360.rename(columns={"Insertion Order":"Insertion_Order","Advertiser Currency":"Moneda","Insertion Order ID":"Insertion_Order_ID","Billable Impressions":"Billable_Impressions","Total Conversions":"Total_Conversions","Post-Click Conversions":"Post_Click_Conversions","Post-View Conversions":"Post_View_Conversions", "Line Item Type":"Line_Item_Type","Line Item ID":"Line_Item_ID"	,"Line Item":"Line_Item","Advertiser ID":"Advertiser_ID"	, "Media Cost (Advertiser Currency)":'Media_Cost_Advertiser_Currency',"Complete Views (Video)":"Complete_Views_Video","Click Rate (CTR)":"Click_Rate_CTR", "Media Cost eCPM (Adv Currency)":"Media_Cost_eCPM_Adv_Currency","Media Cost eCPC (Adv Currency)":"Media_Cost_eCPC_Adv_Currency","Revenue eCPM (Adv Currency)":"Revenue_eCPM_Adv_Currency","Revenue eCPC (Adv Currency)":"Revenue_eCPC_Adv_Currency", "Revenue (Adv Currency)":"Revenue_Adv_Currency", "Total Media Cost (Advertiser Currency)":"Total_Media_Cost_Advertiser_Currency"})
df_dv360 = df_dv360.assign(Click_Rate_CTR = lambda dataset : dataset.Click_Rate_CTR.str.replace("%",""))
df_dv360=df_dv360.rename(columns={"Insertion Order":"Insertion_Order","Advertiser Currency":"Moneda","Insertion Order ID":"Insertion_Order_ID","Billable Impressions":"Billable_Impressions","Total Conversions":"Total_Conversions","Post-Click Conversions":"Post_Click_Conversions","Post-View Conversions":"Post_View_Conversions", "Line Item Type":"Line_Item_Type","Line Item ID":"Line_Item_ID"	,"Line Item":"Line_Item","Advertiser ID":"Advertiser_ID"	, "Media Cost (Advertiser Currency)":'Media_Cost_Advertiser_Currency',"Complete Views (Video)":"Complete_Views_Video","Click Rate (CTR)":"Click_Rate_CTR", "Media Cost eCPM (Adv Currency)":"Media_Cost_eCPM_Adv_Currency","Media Cost eCPC (Adv Currency)":"Media_Cost_eCPC_Adv_Currency","Revenue eCPM (Adv Currency)":"Revenue_eCPM_Adv_Currency","Revenue eCPC (Adv Currency)":"Revenue_eCPC_Adv_Currency", "Revenue (Adv Currency)":"Revenue_Adv_Currency", "Total Media Cost (Advertiser Currency)":"Total_Media_Cost_Advertiser_Currency"})
df_dv360 = df_dv360.assign(Click_Rate_CTR = lambda dataset : dataset.Click_Rate_CTR.str.replace("%",""))

df_dv360=df_dv360.drop(columns=["Click_Rate_CTR","Advertiser","Advertiser_ID","Insertion_Order_ID","Line_Item_ID","Moneda","Insertion_Order","Total_Conversions","Line_Item","Line_Item_Type","Revenue_Adv_Currency","Billable_Impressions","Post_Click_Conversions","Post_View_Conversions"])

#quitar las columnas que sobran de los totales del final 

df_dv360.drop(df_dv360[-17:].index, inplace=True)

#quitar impresion menor a 1 

df_dv360=df_dv360[df_dv360['Impressions'] > 0]

df_dv360=df_dv360.rename(columns={"Clicks": "Clics","Media_Cost_Advertiser_Currency":"Coste"})

df_dv360['Impressions'] = df_dv360['Impressions'].astype(int)

df_dv360['Clics'] = df_dv360['Clics'].astype(int)

df_dv360.columns = ["Date","Impressions","Clics","Coste_mal","Complete_Views_Video"]
df_dv360 = df_dv360.assign(Coste = lambda dataset : dataset.Coste_mal.str.replace("€",""))

In [ ]:

df_dv360['Coste'] = df_dv360['Coste'].astype(float)

#views=Complete_Views_Video en facefoob esto es views
df_dv360=df_dv360.rename(columns={"Complete_Views_Video": "views","Click_Rate_CTR":"CTR","Date":"Day_M"})

#CAMBIAMOS FORMATO DE FECHA
df_dv360=df_dv360.rename(columns={"Day":"Day_M"})
df_dv360 = df_dv360.assign(Day = lambda dataset : dataset.Day_M.str.replace("/","-"))
df_dv360=df_dv360.drop(columns=["Day_M"])
#agrupamos
df_dv360=df_dv360.groupby(by=["Day"]).sum()
#hacemos el join de sesiones 
df_dv360=pd.merge(df_dv360,df_google_analitics_dv_360,on='Day', how="outer")

df_dv360.reset_index().to_csv('Day_join_360_grouped.csv')

df_dv360=pd.read_csv("/content/Day_join_360_grouped.csv", ",")
df_dv360=df_dv360.drop(columns=["Unnamed: 0"])

#para agrupar por mes
df_dv360=df_dv360.rename(columns={"Day":"Day_mes"})
df_dv360=df_dv360.assign(Day = lambda dataset: dataset.Day_mes.map(lambda value : (value[:-3])))
#agrupamos
df_dv360=df_dv360.groupby(by=["Day"]).sum()
df_dv360

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

         Impressions    Clics      views         Coste  Sesiones_google_anali
Day
2022-01    2633984.0  11074.0  1669366.0  11549.508820                 3736.0
2022-02    4053344.0  29793.0  2574079.0  22610.161473                  503.0
2022-03    3375550.0  20246.0  2180122.0  15804.833189                    3.0
2022-04    3898289.0  16174.0  2189011.0  17198.107274                  760.0
2022-05    3230137.0  16916.0  1929192.0  18130.316433                  658.0
2022-06    3259343.0  17447.0  2115205.0  17420.605048                  966.0

In [ ]:
#creamos cpc
cpc_list=[]
for cost, cli in zip(df_dv360['Coste'], df_dv360['Clics']):
  if cli==0:
    cost=0
    cli=1
  resul=cost / cli 
  cpc_list.append(resul)
df_dv360['CPC']=cpc_list

#creamos VTR
vtr_list_360=[]
for vi, im in zip(df_dv360['views'], df_dv360['Impressions']):
  if im==0:
    vi=0
    im=1
  resul_vtr_360=vi / im 
  vtr_list_360.append(resul_vtr_360)
df_dv360['VTR']=vtr_list_360

#creamos CPV
cpv_list_360=[]
for costecito360, vista360 in zip(df_dv360['Coste'], df_dv360['views']):
  if vista360==0:
    costecito360=0
    vista360=1
  resul_cpv360=costecito360 / vista360
  cpv_list_360.append(resul_cpv360)
df_dv360['CPV']=cpv_list_360

#creamos ctr
ctr_list_360=[]
for impr_ctr_360, cli_ctr_360 in zip(df_dv360['Impressions'], df_dv360['Clics']):
  if impr_ctr_360==0:
    impr_ctr_360=1
    cli_ctr_360=0
  resul_ctr_360= cli_ctr_360 /impr_ctr_360
  ctr_list_360.append(resul_ctr_360)
df_dv360['CTR']=ctr_list_360


#creamos clics_a_sesion
list_360=[]
for sesion_360, cli_360 in zip(df_dv360['Sesiones_google_anali'], df_dv360['Clics']):
   if cli_360==0:
     cli_360=1
     sesion_360=0
   resul_360=sesion_360/cli_360
   list_360.append(resul_360)  
df_dv360['Clics_a_sesion']=list_360


#CPVisit
list_360_ccc=[]
for sesion_360_ccc, coste_360_ccc in zip(df_dv360['Sesiones_google_anali'], df_dv360['Coste']):
   if sesion_360_ccc==0:
     sesion_360_ccc=1
     coste_360_ccc=0
   resul_360_ccc=coste_360_ccc/sesion_360_ccc
   list_360_ccc.append(resul_360_ccc)  
df_dv360['Cpvisit']=list_360_ccc



df_dv360.head(5)

,Impressions,Clics,views,Coste,Sesiones_google_anali,CPC,VTR,CPV,CTR,Clics_a_sesion,Cpvisit
Day,,,,,,,,,,,
2022-01,2633984.0,11074.0,1669366.0,11549.508820,3736.0,1.042939,0.633780,0.006919,0.004204,0.337367,3.091410
2022-02,4053344.0,29793.0,2574079.0,22610.161473,503.0,0.758909,0.635051,0.008784,0.007350,0.016883,44.950619
2022-03,3375550.0,20246.0,2180122.0,15804.833189,3.0,0.780640,0.645857,0.007250,0.005998,0.000148,5268.277730
2022-04,3898289.0,16174.0,2189011.0,17198.107274,760.0,1.063318,0.561531,0.007857,0.004149,0.046989,22.629089
2022-05,3230137.0,16916.0,1929192.0,18130.316433,658.0,1.071785,0.597248,0.009398,0.005237,0.038898,27.553672

In [ ]:
"""
Inversion prevista
Inversion real
Variance
clics
CPC =Presupuesto total / Número de clics = CPC
sesiones= noo hay
% clics a sesion
CPVisit
CPV 
"""

'\nInversion prevista\nInversion real\nVariance\nclics\nCPC =Presupuesto total / Número de clics = CPC\nsesiones= noo hay\n% clics a sesion\nCPVisit\nCPV \n'

In [ ]:
pivotTable_360 = pd.pivot_table(df_dv360, columns= "Day", aggfunc= 'sum')
pivotTable_360=pivotTable_360
first_column_g_360=["Google_360","Google_360","Google_360","Google_360","Google_360","Google_360","Google_360","Google_360","Google_360","Google_360","Google_360"]
pivotTable_360.insert(0, 'Plataforma', first_column_g_360)
pivotTable_360=np.round(pivotTable_360, decimals=3)
pivotTable_360 = pd.DataFrame(pivotTable_360, index=["Coste","Impressions","Clics","CTR","CPC","views","VTR","CPV","Sesiones_google_anali","Clics_a_sesion","Cpvisit"])
pivotTable_360

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Google_360,11549.509,22610.161,15804.833,17198.107,18130.316,17420.605
Impressions,Google_360,2633984.000,4053344.000,3375550.000,3898289.000,3230137.000,3259343.000
Clics,Google_360,11074.000,29793.000,20246.000,16174.000,16916.000,17447.000
CTR,Google_360,0.004,0.007,0.006,0.004,0.005,0.005
CPC,Google_360,1.043,0.759,0.781,1.063,1.072,0.998
views,Google_360,1669366.000,2574079.000,2180122.000,2189011.000,1929192.000,2115205.000
VTR,Google_360,0.634,0.635,0.646,0.562,0.597,0.649
CPV,Google_360,0.007,0.009,0.007,0.008,0.009,0.008
Sesiones_google_anali,Google_360,3736.000,503.000,3.000,760.000,658.000,966.000
Clics_a_sesion,Google_360,0.337,0.017,0.000,0.047,0.039,0.055
Cpvisit,Google_360,3.091,44.951,5268.278,22.629,27.554,18.034

#Google ads sem

In [ ]:
df_google_ads_sem = pd.read_csv("/content/ads_sem.csv",encoding='utf-8', sep='delimiter', header=None)

df_google_ads_sem = df_google_ads_sem.drop(labels=[0,1,2], axis=0)
print("inial",np.shape(df_google_ads_sem))

df_google_ads_sem=df_google_ads_sem.rename(columns={0:"p"})
df_google_ads_sem=df_google_ads_sem.assign(p1 = lambda dataset : dataset.p.str.replace("€",""))
df_google_ads_sem=df_google_ads_sem.assign(p2 = lambda dataset : dataset.p1.str.replace("--",""))
df_google_ads_sem=df_google_ads_sem.assign(p3 = lambda dataset : dataset.p2.str.replace("%",""))
df_google_ads_sem=df_google_ads_sem.assign(p4 = lambda dataset : dataset.p3.str.replace("%",""))
df_google_ads_sem=df_google_ads_sem.assign(p5 = lambda dataset : dataset.p4.str.replace(".",""))

def coger_numeros(my_str):
  z=(re.sub('(?<=[0-9]),(?=[0-9])','.',my_str))
  return z

df_google_ads_sem=df_google_ads_sem.assign(p6 = lambda dataset: dataset.p5.apply( lambda linea : coger_numeros(linea)))

#funcion problema comas final 
def comas_comas(my_str):
  if   my_str[-1:]==" ":
    gato=my_str+"0.000"
  else:  
    gato=my_str
  return gato 

df_google_ads_sem=df_google_ads_sem.assign(p7 = lambda dataset: dataset.p6.apply( lambda linea : comas_comas(linea)))
df_google_ads_sem[["p7"]]

df_google_ads_sem=df_google_ads_sem.drop(columns =["p","p1","p2","p3","p4","p5","p6"])

split_data = df_google_ads_sem["p7"].str.split(",")
data = split_data.to_list()
names = ["Campanha","Grupo_de_anuncios","Estado_de_la_campanha","Dia","Codigo_de_moneda","Impression","Coste_m","Clics","CTR_m","CPC_medio_mal"]
df_google_ads_sem = pd.DataFrame(data, columns=names)

#Coste

df_google_ads_sem=df_google_ads_sem.assign(Coste_mal_1 = lambda dataset: dataset.Coste_m.map(lambda value : (value[1:])))
df_google_ads_sem=df_google_ads_sem.assign(Coste = lambda dataset: dataset.Coste_mal_1.map(lambda value : (value[:-1])))
df_google_ads_sem=df_google_ads_sem.drop(columns =["Coste_mal_1","Coste_m"])

#CTR_m borrar 

df_google_ads_sem=df_google_ads_sem.drop(columns =["CTR_m"])

#casteamos

df_google_ads_sem['Impression'] = df_google_ads_sem['Impression'].astype(float)

df_google_ads_sem['Clics'] = df_google_ads_sem['Clics'].astype(float)

df_google_ads_sem['Coste'] = df_google_ads_sem['Coste'].astype(float)

#renombramos
df_google_ads_sem=df_google_ads_sem.rename(columns={"Dia":"Day","Impression":"Impressions"})

#quitar las columnas que sobran de los totales del final 

df_google_ads_sem=df_google_ads_sem[~df_google_ads_sem.Estado_de_la_campanha.str.contains("Total", na=False)]

#agrupamos
df_google_ads_sem=df_google_ads_sem.groupby(by=["Day"]).sum()

#hacemos el join de sesiones 

df_google_ads_sem=pd.merge(df_google_ads_sem,df_google_analitics_sem,on='Day', how="outer")

df_google_ads_sem.reset_index().to_csv('Day_join_sem_grouped.csv')

df_google_ads_sem=pd.read_csv("/content/Day_join_sem_grouped.csv", ",")
df_google_ads_sem=df_google_ads_sem.drop(columns=["Unnamed: 0"])


#para agrupar por mes
df_google_ads_sem=df_google_ads_sem.rename(columns={"Day":"Day_mes"})
df_google_ads_sem=df_google_ads_sem.assign(Day = lambda dataset: dataset.Day_mes.map(lambda value : (value[:-3])))
df_google_ads_sem

#quitar impresion menor a 1

df_google_ads_sem=df_google_ads_sem[df_google_ads_sem['Impressions'] > 0]

#agrupamos

df_google_ads_sem=df_google_ads_sem.groupby(by=["Day"]).sum()


#creamos cpc
cpc_list_g_sem=[]
for cost_g_sem, cli_g_sem in zip(df_google_ads_sem['Coste'], df_google_ads_sem['Clics']):
  if cli_g_sem==0:
    cost_g_sem=0
    cli_g_sem=1
  resul_g_sem=cost_g_sem / cli_g_sem 
  cpc_list_g_sem.append(resul_g_sem)
df_google_ads_sem['CPC']=cpc_list_g_sem

#creamos ctr
ctr_list_g_sem=[]
for impr_ctr_g_sem, cli_ctr_g_sem in zip(df_google_ads_sem['Impressions'], df_google_ads_sem['Clics']):
  if impr_ctr_g_sem==0:
    impr_ctr_g_sem=1  
    cli_ctr_g_sem=0
  resul_ctr_g_sem= cli_ctr_g_sem /impr_ctr_g_sem
  ctr_list_g_sem.append(resul_ctr_g_sem)
df_google_ads_sem['CTR']=ctr_list_g_sem



#creamos clics_a_sesion
list_sem=[]
for sesion_sem, cli_sem in zip(df_google_ads_sem['Sesiones_google_anali'], df_google_ads_sem['Clics']):
   if cli_sem==0:
     cli_sem=1
     sesion_sem=0
   resul_sem=sesion_sem/cli_sem
   list_sem.append(resul_sem)  
df_google_ads_sem['Clics_a_sesion']=list_sem


#CPVisit
list_sem_ccc=[]
for sesion_sem_ccc, coste_sem_ccc in zip(df_google_ads_sem['Sesiones_google_anali'], df_google_ads_sem['Coste']):
   if sesion_sem_ccc==0:
     sesion_sem_ccc=1
     coste_sem_ccc=0
   resul_sem_ccc=coste_sem_ccc/sesion_sem_ccc
   list_sem_ccc.append(resul_sem_ccc)  
df_google_ads_sem['Cpvisit']=list_sem_ccc



df_google_ads_sem

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # This is added back by InteractiveShellApp.init_path()

inial (9952, 1)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Impressions,Clics,Coste,Sesiones_google_anali,CPC,CTR,Clics_a_sesion,Cpvisit
Day,,,,,,,,
2022-01,144840.0,23494.0,9505.17,97959.0,0.404579,0.162207,4.169533,0.097032
2022-02,133819.0,19677.0,10665.39,35213.0,0.542023,0.147042,1.789551,0.302882
2022-03,148497.0,21348.0,8319.70,18236.0,0.389718,0.143760,0.854225,0.456224
2022-04,150758.0,21719.0,8038.18,12842.0,0.370099,0.144065,0.591280,0.625929
2022-05,257545.0,37673.0,13872.15,12498.0,0.368225,0.146277,0.331750,1.109950
2022-06,293205.0,52189.0,13493.10,32061.0,0.258543,0.177995,0.614325,0.420857

In [ ]:
pivotTable_g_ads_sem = pd.pivot_table(df_google_ads_sem, columns= "Day",aggfunc= 'sum')
first_column_g_ad_sem=["Google_ads_sem","Google_ads_sem","Google_ads_sem","Google_ads_sem","Google_ads_sem","Google_ads_sem","Google_ads_sem","Google_ads_sem"]

pivotTable_g_ads_sem.insert(0, 'Plataforma', first_column_g_ad_sem)
pivotTable_g_ads_sem=np.round(pivotTable_g_ads_sem, decimals=3)
pivotTable_g_ads_sem=pd.DataFrame(pivotTable_g_ads_sem, index=["Coste","Impressions","Clics","CTR","CPC","Sesiones_google_anali","Clics_a_sesion","Cpvisit"])

pivotTable_g_ads_sem

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Google_ads_sem,9505.170,10665.390,8319.700,8038.180,13872.150,13493.100
Impressions,Google_ads_sem,144840.000,133819.000,148497.000,150758.000,257545.000,293205.000
Clics,Google_ads_sem,23494.000,19677.000,21348.000,21719.000,37673.000,52189.000
CTR,Google_ads_sem,0.162,0.147,0.144,0.144,0.146,0.178
CPC,Google_ads_sem,0.405,0.542,0.390,0.370,0.368,0.259
Sesiones_google_anali,Google_ads_sem,97959.000,35213.000,18236.000,12842.000,12498.000,32061.000
Clics_a_sesion,Google_ads_sem,4.170,1.790,0.854,0.591,0.332,0.614
Cpvisit,Google_ads_sem,0.097,0.303,0.456,0.626,1.110,0.421

In [ ]:
#GDN y SEM son de Google ads, paid social es facebook y OLV es DV360. display no hay
# google ads gdn () si display en el nombre cmapaña GDN si no sem

#Google ads display

In [ ]:
df_google_ads = pd.read_csv("/content/ads_dis.csv",encoding='utf-8', sep='delimiter', header=None)

df_google_ads = df_google_ads.drop(labels=[0,1,2], axis=0)

df_google_ads=df_google_ads.rename(columns={0:"p"})
df_google_ads=df_google_ads.assign(p1 = lambda dataset : dataset.p.str.replace("€",""))
df_google_ads=df_google_ads.assign(p2 = lambda dataset : dataset.p1.str.replace("--",""))
df_google_ads=df_google_ads.assign(p3 = lambda dataset : dataset.p2.str.replace("%",""))
df_google_ads=df_google_ads.assign(p4 = lambda dataset : dataset.p3.str.replace("%",""))
df_google_ads=df_google_ads.assign(p5 = lambda dataset : dataset.p4.str.replace(".",""))

def coger_numeros(my_str):
  z=(re.sub('(?<=[0-9]),(?=[0-9])','.',my_str))
  return z

df_google_ads=df_google_ads.assign(p6 = lambda dataset: dataset.p5.apply( lambda linea : coger_numeros(linea)))

#funcion problema comas final 
def comas_comas(my_str):
  if   my_str[-1:]==" ":
    gato=my_str+"0.000"
  else:  
    gato=my_str
  return gato 

df_google_ads=df_google_ads.assign(p7 = lambda dataset: dataset.p6.apply( lambda linea : comas_comas(linea)))
df_google_ads[["p7"]]

df_google_ads=df_google_ads.drop(columns =["p","p1","p2","p3","p4","p5","p6"])

split_data = df_google_ads["p7"].str.split(",")
data = split_data.to_list()
names = ["Campanha","Grupo_de_anuncios","Estado_de_la_campanha","Dia","Codigo_de_moneda","Impression","Coste_m","Clics","CTR_m","CPC_medio_mal"]
df_google_ads = pd.DataFrame(data, columns=names)

#Coste

df_google_ads=df_google_ads.assign(Coste_mal_1 = lambda dataset: dataset.Coste_m.map(lambda value : (value[1:])))
df_google_ads=df_google_ads.assign(Coste = lambda dataset: dataset.Coste_mal_1.map(lambda value : (value[:-1])))
df_google_ads=df_google_ads.drop(columns =["Coste_mal_1","Coste_m"])
#CTR_m borrar 

df_google_ads=df_google_ads.drop(columns =["CTR_m"])

#casteamos

df_google_ads['Impression'] = df_google_ads['Impression'].astype(float)

df_google_ads['Clics'] = df_google_ads['Clics'].astype(float)

df_google_ads['Coste'] = df_google_ads['Coste'].astype(float)

#renombramos
df_google_ads=df_google_ads.rename(columns={"Dia":"Day","Impression":"Impressions"})

#quitar las columnas que sobran de los totales del final 

df_google_ads=df_google_ads[~df_google_ads.Estado_de_la_campanha.str.contains("Total", na=False)]

#agrupamos
df_google_ads=df_google_ads.groupby(by=["Day"]).sum()

#hacemos el join de sesiones 

df_google_ads=pd.merge(df_google_ads,df_google_analitics_display,on='Day', how="outer")

df_google_ads.reset_index().to_csv('Day_join_ads_grouped.csv')

df_google_ads=pd.read_csv("/content/Day_join_ads_grouped.csv", ",")
df_google_ads=df_google_ads.drop(columns=["Unnamed: 0"])

#para agrupar por mes
df_google_ads=df_google_ads.rename(columns={"Day":"Day_mes"})
df_google_ads=df_google_ads.assign(Day = lambda dataset: dataset.Day_mes.map(lambda value : (value[:-3])))
df_google_ads

#quitar impresion menor a 1

df_google_ads=df_google_ads[df_google_ads['Impressions'] > 0]

#agrupamos

df_google_ads=df_google_ads.groupby(by=["Day"]).sum()

#creamos cpc
cpc_list_g=[]
for cost_g, cli_g in zip(df_google_ads['Coste'], df_google_ads['Clics']):
  if cli_g==0:
    cost_g=0
    cli_g=1
  resul_g=cost_g / cli_g 
  cpc_list_g.append(resul_g)
df_google_ads['CPC']=cpc_list_g 

#creamos ctr
ctr_list_g=[]
for impr_ctr_g, cli_ctr_g in zip(df_google_ads['Impressions'], df_google_ads['Clics']):
  if impr_ctr_g==0:
    impr_ctr_g=1  
    cli_ctr_g=0
  resul_ctr_g= cli_ctr_g /impr_ctr_g
  ctr_list_g.append(resul_ctr_g)
df_google_ads['CTR']=ctr_list_g

#creamos clics_a_sesion
list_dis=[]
for sesion_dis, cli_dis in zip(df_google_ads['Sesiones_google_anali'], df_google_ads['Clics']):
   if cli_dis==0:
     cli_dis=1
     sesion_dis=0
   resul_dis=sesion_dis/cli_dis
   list_dis.append(resul_dis)  
df_google_ads['Clics_a_sesion']=list_dis


#CPVisit
list_dis_ccc=[]
for sesion_dis_ccc, coste_dis_ccc in zip(df_google_ads['Sesiones_google_anali'], df_google_ads['Coste']):
   if sesion_dis_ccc==0:
     sesion_dis_ccc=1
     coste_dis_ccc=0
   resul_dis_ccc=coste_dis_ccc/sesion_dis_ccc
   list_dis_ccc.append(resul_dis_ccc)  
df_google_ads['Cpvisit']=list_dis_ccc




df_google_ads

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Impressions,Clics,Coste,Sesiones_google_anali,CPC,CTR,Clics_a_sesion,Cpvisit
Day,,,,,,,,
2022-01,4039481.0,104823.0,4281.60,21.0,0.040846,0.025950,0.000200,203.885714
2022-02,4600153.0,76269.0,5050.53,4213.0,0.066220,0.016580,0.055239,1.198797
2022-03,5275938.0,80682.0,5353.65,18099.0,0.066355,0.015292,0.224325,0.295798
2022-04,6046914.0,116363.0,8070.39,34951.0,0.069355,0.019243,0.300362,0.230906
2022-05,8480850.0,185986.0,10200.19,42356.0,0.054844,0.021930,0.227738,0.240820
2022-06,5796528.0,157973.0,9504.33,57614.0,0.060164,0.027253,0.364708,0.164966

In [ ]:
"""
Inversion prevista
Inversion real
Variance
clics
CPC =Presupuesto total / Número de clics 
ctr =
sesiones
% clics a sesion
CPVisit =Presupuesto total / Número de visitas 
"""

'\nInversion prevista\nInversion real\nVariance\nclics\nCPC =Presupuesto total / Número de clics \nctr =\nsesiones\n% clics a sesion\nCPVisit =Presupuesto total / Número de visitas \n'

In [ ]:
pivotTable_g_ads = pd.pivot_table(df_google_ads, columns= "Day",aggfunc= 'sum')
pivotTable_g_ads=pivotTable_g_ads
first_column_g_ad=["Google_ads_display","Google_ads_display","Google_ads_display","Google_ads_display","Google_ads_display","Google_ads_display","Google_ads_display","Google_ads_display"]
pivotTable_g_ads.insert(0, 'Plataforma', first_column_g_ad)
pivotTable_g_ads=np.round(pivotTable_g_ads, decimals=3)
pivotTable_g_ads = pd.DataFrame(pivotTable_g_ads, index=["Coste","Impressions","Clics","CTR","CPC","Sesiones_google_anali","Clics_a_sesion","Cpvisit"])

pivotTable_g_ads

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Google_ads_display,4281.600,5050.530,5353.650,8070.390,10200.190,9504.330
Impressions,Google_ads_display,4039481.000,4600153.000,5275938.000,6046914.000,8480850.000,5796528.000
Clics,Google_ads_display,104823.000,76269.000,80682.000,116363.000,185986.000,157973.000
CTR,Google_ads_display,0.026,0.017,0.015,0.019,0.022,0.027
CPC,Google_ads_display,0.041,0.066,0.066,0.069,0.055,0.060
Sesiones_google_anali,Google_ads_display,21.000,4213.000,18099.000,34951.000,42356.000,57614.000
Clics_a_sesion,Google_ads_display,0.000,0.055,0.224,0.300,0.228,0.365
Cpvisit,Google_ads_display,203.886,1.199,0.296,0.231,0.241,0.165

#Totales

In [ ]:
df_totales = pd.concat([df_facebook,df_facebook_video, df_dv360,df_google_ads,df_google_ads_sem], axis=0, join="outer")

df_totales=df_totales.drop(columns=["CPC","CTR","VTR","CPV","Clics_a_sesion","Cpvisit"])
df_totales

         Impressions         Coste     Clics      views  Sesiones_google_anali
Day
2022-01    1377740.0   3229.000000   22366.0    74222.0                12649.0
2022-02    1734956.0   5515.650000   14356.0   103632.0                 2103.0
2022-03    1449781.0   3973.800000   12021.0    65968.0                 1590.0
2022-04    1481087.0   3748.380000   12242.0    70931.0                 1414.0
2022-05    1410291.0   5076.980000   12436.0    55769.0                  891.0
2022-06    4217785.0  10009.690000   34036.0    68683.0                13610.0
2022-01    3543902.0   5752.000000   15504.0  1194633.0                    NaN
2022-02    4561062.0   7372.160000   19101.0  1407299.0                    NaN
2022-03    5853181.0   6969.860000   12478.0  1120176.0                    NaN
2022-04    4699956.0   5380.320000    9817.0   847017.0                    NaN
2022-05    5934917.0   6082.470000    9039.0   803125.0                    NaN
2022-06    1308786.0   1154.250000    1731.0   145932.0                    NaN
2022-01    2633984.0  11549.508820   11074.0  1669366.0                 3736.0
2022-02    4053344.0  22610.161473   29793.0  2574079.0                  503.0
2022-03    3375550.0  15804.833189   20246.0  2180122.0                    3.0
2022-04    3898289.0  17198.107274   16174.0  2189011.0                  760.0
2022-05    3230137.0  18130.316433   16916.0  1929192.0                  658.0
2022-06    3259343.0  17420.605048   17447.0  2115205.0                  966.0
2022-01    4039481.0   4281.600000  104823.0        NaN                   21.0
2022-02    4600153.0   5050.530000   76269.0        NaN                 4213.0
2022-03    5275938.0   5353.650000   80682.0        NaN                18099.0
2022-04    6046914.0   8070.390000  116363.0        NaN                34951.0
2022-05    8480850.0  10200.190000  185986.0        NaN                42356.0
2022-06    5796528.0   9504.330000  157973.0        NaN                57614.0
2022-01     144840.0   9505.170000   23494.0        NaN                97959.0
2022-02     133819.0  10665.390000   19677.0        NaN                35213.0
2022-03     148497.0   8319.700000   21348.0        NaN                18236.0
2022-04     150758.0   8038.180000   21719.0        NaN                12842.0
2022-05     257545.0  13872.150000   37673.0        NaN                12498.0
2022-06     293205.0  13493.100000   52189.0        NaN                32061.0

In [ ]:
df_totales=df_totales.groupby(by=["Day"]).sum()
df_totales

         Impressions         Coste     Clics      views  Sesiones_google_anali
Day
2022-01   11739947.0  34317.278820  177261.0  2938221.0               114365.0
2022-02   15083334.0  51213.891473  159196.0  4085010.0                42032.0
2022-03   16102947.0  40421.843189  146775.0  3366266.0                37928.0
2022-04   16277004.0  42435.377274  176315.0  3106959.0                49967.0
2022-05   19313740.0  53362.106433  262050.0  2788086.0                56403.0
2022-06   14875647.0  51581.975048  263376.0  2329820.0               104251.0

In [ ]:
#creamos cpc
cpc_list_f_t=[]
for cost_f_t, cli_f_t in zip(df_totales['Coste'], df_totales['Clics']):
  if cli_f_t==0:
    cost_f_t=0
    cli_f_t=1
  resul_f_t=cost_f_t / cli_f_t
  cpc_list_f_t.append(resul_f_t)
df_totales['CPC']=cpc_list_f_t

#creamos ctr
ctr_list_f_t=[]
for impr_ctr_f_t, cli_ctr_f_t in zip(df_totales['Impressions'], df_totales['Clics']):
  if impr_ctr_f_t==0:
    impr_ctr_f_t=1
    cli_ctr_f_t=0
  resul_ctr_f_t= cli_ctr_f_t /impr_ctr_f_t 
  ctr_list_f_t.append(resul_ctr_f_t)
df_totales['CTR']=ctr_list_f_t

#creamos VTR
vtr_list_f_t=[]
for vie_t, imp_t in zip(df_totales['views'], df_totales['Impressions']):
  if imp_t==0:
    vie_t=0
    imp_t=1
  resul_vtr_t=vie_t / imp_t 
  vtr_list_f_t.append(resul_vtr_t)
df_totales['VTR']=vtr_list_f_t

#creamos CPV
cpv_list_f_t=[]
for costecito_t, vista_t in zip(df_totales['Coste'], df_totales['views']):
  if vista_t==0:
    costecito_t=0
    vista_t=1
  resul_cpv_t=costecito_t / vista_t
  cpv_list_f_t.append(resul_cpv_t)
df_totales['CPV']=cpv_list_f_t

#creamos clics_a_sesion
list_t=[]
for sesion_t, cli_t in zip(df_totales['Sesiones_google_anali'], df_totales['Clics']):
   if cli_t==0:
     cli_t=1
     sesion_t=0
   resul_t=sesion_t/cli_t
   list_t.append(resul_t)  
df_totales['Clics_a_sesion']=list_t

#CPVisit
list_t_ccc=[]
for sesion_t_ccc, coste_t_ccc in zip(df_totales['Sesiones_google_anali'], df_totales['Coste']):
   if sesion_t_ccc==0:
     sesion_t_ccc=1
     coste_t_ccc=0
   resul_t_ccc=coste_t_ccc/sesion_t_ccc
   list_t_ccc.append(resul_t_ccc)  
df_totales['Cpvisit']=list_t_ccc

df_totales

,Impressions,Coste,Clics,views,Sesiones_google_anali,CPC,CTR,VTR,CPV,Clics_a_sesion,Cpvisit
Day,,,,,,,,,,,
2022-01,11739947.0,34317.278820,177261.0,2938221.0,114365.0,0.193597,0.015099,0.250275,0.011680,0.645179,0.300068
2022-02,15083334.0,51213.891473,159196.0,4085010.0,42032.0,0.321703,0.010554,0.270829,0.012537,0.264027,1.218450
2022-03,16102947.0,40421.843189,146775.0,3366266.0,37928.0,0.275400,0.009115,0.209047,0.012008,0.258409,1.065752
2022-04,16277004.0,42435.377274,176315.0,3106959.0,49967.0,0.240679,0.010832,0.190880,0.013658,0.283396,0.849268
2022-05,19313740.0,53362.106433,262050.0,2788086.0,56403.0,0.203633,0.013568,0.144358,0.019139,0.215238,0.946086
2022-06,14875647.0,51581.975048,263376.0,2329820.0,104251.0,0.195849,0.017705,0.156620,0.022140,0.395826,0.494786

In [ ]:
df_totales_pivot = pd.pivot_table(df_totales, columns= "Day",aggfunc= 'sum')
df_totales_pivot

Day,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
CPC,1.935975e-01,3.217034e-01,2.754001e-01,2.406793e-01,2.036333e-01,1.958492e-01
CPV,1.167961e-02,1.253703e-02,1.200792e-02,1.365817e-02,1.913933e-02,2.213990e-02
CTR,1.509896e-02,1.055443e-02,9.114791e-03,1.083215e-02,1.356806e-02,1.770518e-02
Clics,1.772610e+05,1.591960e+05,1.467750e+05,1.763150e+05,2.620500e+05,2.633760e+05
Clics_a_sesion,6.451786e-01,2.640267e-01,2.584091e-01,2.833962e-01,2.152376e-01,3.958257e-01
Coste,3.431728e+04,5.121389e+04,4.042184e+04,4.243538e+04,5.336211e+04,5.158198e+04
Cpvisit,3.000680e-01,1.218450e+00,1.065752e+00,8.492681e-01,9.460863e-01,4.947864e-01
Impressions,1.173995e+07,1.508333e+07,1.610295e+07,1.627700e+07,1.931374e+07,1.487565e+07
Sesiones_google_anali,1.143650e+05,4.203200e+04,3.792800e+04,4.996700e+04,5.640300e+04,1.042510e+05
VTR,2.502755e-01,2.708294e-01,2.090466e-01,1.908803e-01,1.443576e-01,1.566197e-01
views,2.938221e+06,4.085010e+06,3.366266e+06,3.106959e+06,2.788086e+06,2.329820e+06

In [ ]:
df_totales_pivot=np.round(df_totales_pivot, decimals=2)
df_totales_pivot

Day,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
CPC,0.19,0.32,0.28,0.24,0.20,0.20
CPV,0.01,0.01,0.01,0.01,0.02,0.02
CTR,0.02,0.01,0.01,0.01,0.01,0.02
Clics,177261.00,159196.00,146775.00,176315.00,262050.00,263376.00
Clics_a_sesion,0.65,0.26,0.26,0.28,0.22,0.40
Coste,34317.28,51213.89,40421.84,42435.38,53362.11,51581.98
Cpvisit,0.30,1.22,1.07,0.85,0.95,0.49
Impressions,11739947.00,15083334.00,16102947.00,16277004.00,19313740.00,14875647.00
Sesiones_google_anali,114365.00,42032.00,37928.00,49967.00,56403.00,104251.00
VTR,0.25,0.27,0.21,0.19,0.14,0.16
views,2938221.00,4085010.00,3366266.00,3106959.00,2788086.00,2329820.00

In [ ]:
first_column_total=["Total","Total","Total","Total","Total","Total","Total","Total","Total","Total","Total"]
df_totales_pivot.insert(0, 'Plataforma', first_column_total)

df_totales_pivot = pd.DataFrame(df_totales_pivot, index=["Coste","Impressions","Clics","CPC","CTR","views","VTR","CPV","Sesiones_google_anali","Clics_a_sesion","Cpvisit"])

df_totales_pivot

Day,Plataforma,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06
Coste,Total,34317.28,51213.89,40421.84,42435.38,53362.11,51581.98
Impressions,Total,11739947.00,15083334.00,16102947.00,16277004.00,19313740.00,14875647.00
Clics,Total,177261.00,159196.00,146775.00,176315.00,262050.00,263376.00
CPC,Total,0.19,0.32,0.28,0.24,0.20,0.20
CTR,Total,0.02,0.01,0.01,0.01,0.01,0.02
views,Total,2938221.00,4085010.00,3366266.00,3106959.00,2788086.00,2329820.00
VTR,Total,0.25,0.27,0.21,0.19,0.14,0.16
CPV,Total,0.01,0.01,0.01,0.01,0.02,0.02
Sesiones_google_anali,Total,114365.00,42032.00,37928.00,49967.00,56403.00,104251.00
Clics_a_sesion,Total,0.65,0.26,0.26,0.28,0.22,0.40
Cpvisit,Total,0.30,1.22,1.07,0.85,0.95,0.49

# IMPRIMIR EXCEL

In [ ]:
escrito = pd.ExcelWriter('Informe_mensual_affinity.xlsx')
# escribir el DataFrame en excel
pivotTable_g_ads.to_excel(escrito,startrow=0)
pivotTable_g_ads_sem.to_excel(escrito,startrow=9)
pivotTable_360.to_excel(escrito,startrow=18)
pivotTable_face.to_excel(escrito,startrow=30)
pivotTable_face_video.to_excel(escrito,startrow=42)
df_totales_pivot.to_excel(escrito,startrow=51)
# guardar el excel
escrito.save()
print('El DataFrame se ha escrito con éxito en el archivo de Excel.')

El DataFrame se ha escrito con éxito en el archivo de Excel.